# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# the react build is in here
**/_site2

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
__debug_bin

**/__pycache__

key.json
